<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
     maxBufferSize="20000000" maxReceivedMessageSize="20000000">
     <readerQuotas maxDepth="32" maxStringContentLength="200000000"
      maxArrayLength="200000000" />
    </binding>
    <binding name="BasicHttpBinding_IService_TaskLog" />
    <binding name="BasicHttpBinding_IService_Log" />
    <binding name="BasicHttpBinding_IService_TaskManager" />
    <binding name="BasicHttpBinding_IService_UserManager" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:55511/Service_Log.svc" binding="basicHttpBinding"
    bindingConfiguration="basicHttp" contract="ServiceReference_Log.IService_Log"
    name="BasicHttpBinding_IService_Log" />
   <endpoint address="http://localhost:55511/Service_TaskLog.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_TaskLog"
    contract="ServiceReference_TaskLog.IService_TaskLog" name="BasicHttpBinding_IService_TaskLog" />
   <endpoint address="http://localhost:55511/Service_TaskManager.svc"
    binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="ServiceReference_TaskManager.IService_TaskManager"
    name="BasicHttpBinding_IService_TaskManager" />
   <endpoint address="http://localhost:55511/Service_UserManager.svc"
    binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="ServiceReference_UserManager.IService_UserManager"
    name="BasicHttpBinding_IService_UserManager" />
  </client>
	</system.serviceModel>


</configuration>